<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-3">Wastage</h5>
  </div>
  <div class="card-block widget-body">
    <div class="container m-4"></div>
    <div class="row mb-3">
      <div class="col-md-10">

      </div>
      <div class="col-md-2">
        <button class="btn btn-success btn-block"
        (click) = "SendTofactory()"
        >
          <i class="fa fa-truck"></i>
          Send to Factory
        </button>
      </div>
    </div>
    <div class="row no-gutter" id="print-section">
      <div class="col-md-12">
        <ft-dynamic-table [Settings]="setting" [Data]="data"></ft-dynamic-table>
      </div>
    </div>
  </div>
</div>
