<div widget class="card border-0 p-2 box-shadow">
  <div class="card-block pt-0 widget-body">
    <div class="row no-gutter">
      <div class="col-md-4">
        <h5 class=""></h5>
      </div>
      <div class="col-md-4">
        <h5 class="">{{ Type.AcctType }} Details</h5>
      </div>
    </div>
    <div class="card-block widget-body">
      <form #customerForm="ngForm" (onSubmit)="SaveData()">
        <div class="row no-gutter">
          <div class="form-group col-md-4">
            <label for="CategoryID" class="form-label">Category</label>
            <ng-select
              [items]="AcctTypes | async"
              bindLabel="AcctType"
              bindValue="AcctTypeID"
              [(ngModel)]="customer.AcctTypeID"
              name="AcctTypeID"
              id="AcctTypeID"
              placeholder="Select Account Type"
              [clearable]="true"
              [searchable]="true"
              (change)="Type = $event"
               selectOnTab="true"
              required
            >
            </ng-select>
          </div>
          <div class="form-group col-md-8">
            <label for="CustomerName" class="form-label">Customer Name</label>
            <input
              type="text"
              class="form-control"
              id="CustomerName"
              name="CustomerName"
              [(ngModel)]="customer.CustomerName"
              required
            />
          </div>
          <div class="form-group col-md-12">
            <label for="UrduName" class="form-label">Urdu Name</label>
            <input
              type="text"
              class="form-control"
              id="UrduName"
              name="UrduName"
              [(ngModel)]="customer.UrduName"
            />
          </div>
          <div class="form-group col-md-8">
            <label for="Address" class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              id="Address"
              name="Address"
              [(ngModel)]="customer.Address"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="City" class="form-label">City</label>
            <ng-select
              [items]="cities"
              bindLabel="Cityname"
              bindValue="Cityname"
              [(ngModel)]="customer.City"
              name="City"
              id="City"
              placeholder="Select City"
              [clearable]="true"
              [searchable]="true"
              selectOnTab="true"
            >
            </ng-select>
          </div>
          <div class="form-group col-md-1">
            <button
              type="button"
              class="btn btn-primary mt-3"
              (click)="addCity()"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="form-group col-md-6">
            <label for="PhoneNo1" class="form-label">Phone No 1</label>
            <input
              type="text"
              class="form-control"
              id="PhoneNo1"
              name="PhoneNo1"
              [(ngModel)]="customer.PhoneNo1"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="PhoneNo2" class="form-label">Phone No 2</label>
            <input
              type="text"
              class="form-control"
              id="PhoneNo2"
              name="PhoneNo2"
              [(ngModel)]="customer.PhoneNo2"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="NTNNo" class="form-label">NTN No</label>
            <input
              type="text"
              class="form-control"
              id="NTNNo"
              name="NTNNo"
              [(ngModel)]="customer.NTNNo"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="STN" class="form-label">STN</label>
            <input
              type="text"
              class="form-control"
              id="STN"
              name="STN"
              [(ngModel)]="customer.STN"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="Balance" class="form-label">Balance</label>
            <input
              type="number"
              class="form-control"
              id="Balance"
              name="Balance"
              [(ngModel)]="customer.Balance"
              step="0.01"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="CustTypeid" class="form-label">Account Type </label>
            <ng-select
              [items]="custtypes"
              bindLabel="CustType"
              bindValue="CustTypeID"
              [(ngModel)]="customer.CustTypeid"
              name="CustTypeid"
              id="CustTypeid"
              placeholder="Select Customer Type"
              [clearable]="true"
              [searchable]="true"
              [required]="true"
               selectOnTab="true"
            >
            </ng-select>
          </div>
          <div class="form-group col-md-4">
            <label for="CustCatID" class="form-label">Account Category </label>
            <ng-select
              [items]="CustCats | async"
              bindLabel="CustCategory"
              bindValue="CustCatID"
              [(ngModel)]="customer.CustCatID"
              name="CustCatID"
              id="CustCatID"
              placeholder="Select Account Category"
              [clearable]="true"
              [searchable]="true"
               selectOnTab="true"
            >
            </ng-select>
          </div>
          <div class="form-group col-md-4">
            <label for="Status" class="form-label">Status</label>
            <select
              class="form-control"
              id="Status"
              name="Status"
              required
              [(ngModel)]="customer.Status"
            >
              <option [value]="0">Inactive</option>
              <option [value]="1">Active</option>
            </select>
          </div>
        </div>

        <div class="col-12 mt-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!customerForm.form.valid"
            (click)="SaveData()"
          >
            Save
          </button>
          <button (click)="Cancel()" class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
