<div class="container buttonarea">

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group  btn-group-lg mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary" (click)="Print()">
        <i class="fa fa-print"></i>
      </button>
      <button type="button" class="btn btn-warning" (click)="ExporToPDF()">
        <i i class="fa fa-file-pdf-o" aria-hidden="true"></i>

      </button>

    </div>

  </div>
</div>
<section class="sheet">
  
  <table id="print-report" class="table table-light">
    <thead>
      <tr>
        <th>
          <div class="Header">
            <!-- <img [src]="IMAGE_URL + 'logo.png'" alt="" style="width:100%;" /> -->
            <h3>{{ settings.title }}</h3>
            <h4>{{ settings.address }}, {{ settings.phoneno }}</h4>
            <h3 class="text-center">{{ printdata.Title }}</h3>
            <h5 class="text-center">{{ printdata.SubTitle }}</h5>


          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div id="main"></div>
        </td>
      </tr>
    </tbody>

  </table>
</section>
