<!--table starts-->

<div class="modal-header">
  <h4 class="modal-title pull-left">Customer Invoices List</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <section id="ng-tables">
    <div class="row text-left">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="row" id="print-section">
                <div class="col-md-12">
                  <ft-datatable
                    #dataList
                    [CRUD]="false"
                    [Settings]="Settings"
                    [Filter]="filterList"
                    (ClickAction)="Clicked($event)"
                  ></ft-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

