<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Product Rates By Suppliers</div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div>
          <form #frmFilter="ngForm">
            <div class="row no-pad">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Supplier</label>
                  <select
                    name="cmbSupplier"
                    id="cmbSupplier"
                    [(ngModel)]="Filter.supplier_id"
                    class="form-control"
                    required

                  >
                    <option value="" selected>--Select Supplier--</option>
                    <option
                      *ngFor="let row of Suppliers"
                      [value]="row.account_id"
                    >
                      {{ row.account_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Region</label>
                  <select
                    #cmbRegio
                    name="cmbRegion"
                    id="cmbRegion"
                    [(ngModel)]="Filter.region"
                    class="form-control"
                    required

                  >
                    <option value="" selected>--Select Region--</option>
                    <option
                      *ngFor="let row of Regions"
                      [value]="row.region"
                    >
                      {{ row.region }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Products</label>
                  <select
                    #cmbProduct
                    name="cmnProducts"
                    id="cmnProducts"
                    [(ngModel)]="Filter.product_id"
                    class="form-control"
                    required
                  >
                    <option value="" selected>--Select Product--</option>
                    <option
                      *ngFor="let row of Products"
                      [value]="row.product_id"
                    >
                      {{ row.product_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button
                    type="button"
                    class="btn btn-primary form-control"
                    (click)="FilterData()"
                    accesskey="a"

                  >
                    <i class="fa fa-search"></i>
                    Filter
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Rate:</label>
                  <input
                    class="form-control"
                    type="number"
                    name="rate"
                    id="rate"
                    [(ngModel)]="Filter.price"
                    required
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Security:</label>
                  <input
                    class="form-control"
                    type="number"
                    name="Security"
                    id="Security"
                    [(ngModel)]="Filter.security"
                    required
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>VAT:</label>
                  <input
                    class="form-control"
                    type="vat"
                    name="vat"
                    id="vat"
                    [(ngModel)]="Filter.vat"
                    required
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-warning form-control"
                    (click)="Add(); cmbProduct.focus()"
                    accesskey="a"
                    [disabled]="!frmFilter.valid"
                  >
                    <i class="fa fa-plus"></i>
                    Add Rate
                  </button>
                </div>
              </div>
            </div>
          </form>
          <ft-datatable
            #dataList
            [CRUD]="false"
            [Settings]="Settings"
            (ClickAction)="Clicked($event)"
          ></ft-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
