<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">Credit Sale</h5>
      </div>
      <div class="col-md-4">
        <div *ngIf="isPosted" class="text-center btn btn-danger btn-sm">
          POSTED ORDER
        </div>
      </div>
      <div class="col-md-4">
        <form #frmFilter="ngForm">
          <div class="row">
            <div class="col-md-8">
              <input
                class="form-control"
                name="ino"
                [(ngModel)]="Ino"
                placeholder="Invoice No"
              />
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary form-control"
                  (click)="FindINo()"
                  accesskey="F"
                >
                  <i class="fa fa-search"></i>
                  Find Invoice
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-block widget-body">
    <form (ngSubmit)="SaveData()" #frmInvoice="ngForm">
      <div class="row no-pad">
        <div class="col-md-2">
          <label for="dp1">Date:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp1"
              [(ngModel)]="invoice.Date"
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              bsDatepicker
              disabled
              required
            />
          </div>
        </div>
        <div class="col-md-1">
          <label for="dp1">Type:</label>
          <div class="input-group">
            <select
              class="form-control"
              [(ngModel)]="invoice.DtCr"
              name="type"
              required
            >
              <option value="CR">Sale</option>
              <option value="DT">Return</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="customer">Account: </label>
          <ng-select
            #cmbCustomers
            name="ng2select"
            class="custom"
            [items]="Accounts"
            [virtualScroll]="true"
            bindLabel="CustomerName"
            bindValue="CustomerID"
            placeholder="Select Customer"
            (change)="CustomerSelected($event)"
            required
            [(ngModel)]="invoice.CustomerID"
          >
            <ng-template ng-option-tmp let-item="item">
              <div class="row no-gutter">
                <div class="col-md-12">
                  {{ item.CustomerName }}
                </div>
                <div class="col-md-9 text-italic font-small-2 mt-1">
                  <small> {{ item.Address }}, {{ SelectCust.City }} </small>
                </div>
                <div class="col-md-3 text-italic font-small-2 mt-1">
                  <small>
                    {{ item.Balance }}
                  </small>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="col-md-5">
          <div class="row no-pad">
            <div class="col">
              <div class="form-group">
                <label for="qty">Order #:</label>
                <div class="input-group">
                  <input
                    #OrderNo
                    type="text"
                    class="form-control"
                    id="OrderNo"
                    name="OrderNo"
                    [(ngModel)]="invoice.OrderNo"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-warning"
                      type="button"
                      (click)="FindOrder()"
                    >
                      <i class="fa fa-search"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="qty">Ord Date:</label>
                <input
                  #OrderDate
                  type="text"
                  class="form-control dation-field"
                  id="RegisterNo"
                  name="RegisterNo"
                  [(ngModel)]="invoice.OrderDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                  bsDatepicker
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="qty">Agency</label>
                <ejs-combobox
                  id="agency"
                  name="agency"
                  [(ngModel)]="invoice.Agency"
                  [dataSource]="Agencies"
                  [fields]="{ text: 'Agency', value: 'Agency' }"
                  placeholder="Select Agency"
                  [allowFiltering]="true"
                  [filterType]="'Contains'"
                >
                </ejs-combobox>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <label for="qty">SPR No</label>
            <input
              type="text"
              class="form-control"
              id="SPRNo"
              name="SPRNo"
              [(ngModel)]="invoice.SPRNo"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="qty">Terms</label>
            <ng-select
              #cmbTerms
              name="cmbTerms"
              id="cmbTerms"
              class="custom"
              [items]="Terms"
              bindLabel="Term"
              bindValue="ID"
              placeholder="Select Term"
              required
              [(ngModel)]="invoice.Terms"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="Transporter">Transporter</label>
            <ng-select
              #Transporter
              name="Transporter"
              class="custom"
              [items]="Transporters"
              [virtualScroll]="true"
              bindLabel="CustomerName"
              bindValue="CustomerID"
              placeholder="Select Transporter"
              required
              [(ngModel)]="invoice.TransporterID"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="qty">Truck No:</label>
            <input
              type="text"
              class="form-control"
              id="TruckNo"
              name="TruckNo"
              [(ngModel)]="invoice.TruckNo"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="BuiltyNo">Builty No</label>
            <input
              type="text"
              class="form-control"
              id="BuiltyNo"
              name="BuiltyNo"
              [(ngModel)]="invoice.BuiltyNo"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="ShippedTo">Shipped To</label>
            <input
              type="text"
              class="form-control"
              id="ShippedTo"
              name="ShippedTo"
              [(ngModel)]="invoice.ShippedTo"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="DrvrName">Driver Name</label>
            <input
              type="text"
              class="form-control"
              id="DrvrName"
              name="DrvrName"
              [(ngModel)]="invoice.DrvrName"
            />
          </div>
        </div>
      </div>
      <form #formqty="ngForm">
        <div class="row no-gutter">
          <div class="col-md-2">
            <div class="form-group">
              <label for="supplier">Store:</label>
              <ng-select
                #cmbStore
                name="cmbStore"
                id="cmbStore"
                class="custom"
                [items]="$Stores | async"
                [virtualScroll]="true"
                bindLabel="StoreName"
                bindValue="StoreID"
                placeholder="Select Store"
                (change)="StoreSelected($event)"
                required
                [(ngModel)]="details.StoreID"
                (keydown.enter)="cmbProduct.focus()"
              >
              </ng-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="supplier">Select Product:</label>
              <ng-select
                #cmbProduct
                name="cmbProduct"
                id="cmbProduct"
                class="custom"
                [items]="Prods"
                [virtualScroll]="true"
                bindLabel="ProductName"
                bindValue="ProductID"
                placeholder="Select Product"
                [groupBy]="'CatName'"
                (change)="ProductSelected($event)"
                required
                [(ngModel)]="details.ProductID"
                (keydown.enter)="qty.focus()"
                [searchFn]="ProductSearchFn"
              >
              <ng-template ng-option-tmp let-item="item">
                <div class="row no-gutter">
                  <div class="col-md-12">
                    {{ item.ProductName }}
                  </div>
                  <div class="col-md-6 text-italic font-small-2 mt-1">
                    <small> PP:{{ item.PPrice }} </small>
                  </div>
                  <div class="col-md-6 text-italic font-small-2 mt-1">
                    <small>
                      Stock:{{ item.Stock }}
                    </small>
                  </div>
                </div>
              </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row no-gutter">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="qty">Qty:</label>
                  <input
                    #qty
                    type="number"
                    class="form-control dation-field"
                    required="required"
                    id="qty"
                    name="qty"
                    [(ngModel)]="details.Qty"
                    (keydown.enter)="Rate.focus()"
                    (focus)="qty.select()"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="supplier">Rate:</label>
                  <input
                    #Rate
                    type="number"
                    class="form-control"
                    id="pprice"
                    name="pprice"
                    [(ngModel)]="details.SPrice"
                    placeholder="0"
                    required
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="Fare">Fare:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="Fare"
                    name="Fare"
                    [(ngModel)]="details.Fare"
                    placeholder="0"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="bonus">Amount:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="pamount"
                    name="pamount"
                    readonly
                    [value]="details.Qty * details.SPrice"
                  />
                </div>
              </div>

              <div class="col-md-2">
                <label for="">&nbsp;</label>
                <div class="form-group">
                  <button
                    #btnAdd
                    type="button"
                    class="btn btn-primary form-control"
                    [disabled]="!formqty.form.valid"
                    (click)="AddOrder()"
                    accesskey="a"
                  >
                    <i class="fa fa-plus"> </i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div style="margin: 5px; padding-bottom: 10px">
        <div
          class="table-responsive custom-table-height table-bordered table-condensed pb-1"
        >
          <ng2-smart-table
            class="table table-hover"
            [settings]="settings"
            [source]="data"
            (deleteConfirm)="onDeleteConfirm($event)"
            (rowSelect)="onRowSelect($event)"
            (userRowSelect)="onUserRowSelect($event)"
            (editConfirm)="onEdit($event)"
            (rowHover)="onRowHover($event)"
          >
          </ng2-smart-table>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row no-gutter mt-3">
              <div class="col-md-4">
                <label for="notes">Notes</label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input
                    class="form-control"
                    [(ngModel)]="invoice.Notes"
                    type="text"
                    name="notes"
                    id="notes"
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutter">
              <div class="col-md-4">
                <div class="form-group">
                  <ft-navigator (ClickAction)="NavigatorClicked($event)">
                  </ft-navigator>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="NewInvoice()"
                    accesskey="n"
                  >
                    New
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    [disabled]="
                      !frmInvoice.form.valid || data.count() == 0 || isPosted
                    "
                    (click)="SaveData()"
                    accesskey="s"
                  >
                    Save
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    [disabled]="EditID == ''"
                    (click)="PrintInvoice()"
                    accesskey="p"
                  >
                    Print
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-danger btn-block"
                    (click)="Cancel()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="gtotal">Total Amount</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="gtotal"
                    name="gtotal"
                    [(ngModel)]="invoice.Amount"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="FrieghtCharges">Total Fare</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="FrieghtCharges"
                    name="FrieghtCharges"
                    [(ngModel)]="invoice.FareCharges"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="Discount">Discount</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="Discount"
                    name="Discount"
                    [(ngModel)]="invoice.Discount"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="NetAmount">Net Amount</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="NetAmount"
                    name="NetAmount"
                    [(ngModel)]="
                      invoice.Amount + invoice.FareCharges - invoice.Discount
                    "
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="CashReceived">Cash Received</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="CashReceived"
                    name="CashReceived"
                    [(ngModel)]="invoice.AmntRecvd"
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="Balance">Balance</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="Balance"
                    name="Balance"
                    [value]="
                      invoice.Amount +
                      invoice.FareCharges -
                      invoice.Discount -
                      invoice.AmntRecvd
                    "
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
