<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php_via_fastCGI" />
            <add name="php_via_fastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\tools\php83\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
