<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-3">Production Plan</h5>
  </div>
  <div class="card-block widget-body">
    <ft-crud-form [form]="formFilter" [formdata]="Filter" [CrudButtons]="false"> </ft-crud-form>
    <div class="row no-gutter" id="print-section">
      <div class="col-md-12">
        <ft-dynamic-table
          #RptTable
          [Settings]="setting"
          [Data]="data"
          (ClickAction)="Clicked($event)"
        ></ft-dynamic-table>
      </div>
    </div>
  </div>
</div>
