<div widget class="card border-0 box-shadow">
  <div class="card-block pt-0 widget-body">
    <div class="row no-gutter">
      <div class="col-md-12">
        <a
          [class]="pl - 2"
          [routerLink]="[link.link]"
          class="link-warning"
          *ngFor="let link of links"
        >
          {{ link.label }}
        </a>
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-md-4">
        <h5 class="mb-3">Sale {{ EditID }}</h5>
      </div>
      <div class="col-md-4">
        <div *ngIf="isPosted" class="text-center btn btn-danger btn-sm">
          POSTED INVOICE
        </div>
      </div>
      <div class="col-md-4">
        <form #frmFilter="ngForm">
          <div class="row no-gutter">
            <div class="col-md-6">
              <input
                class="form-control"
                name="ino"
                [(ngModel)]="Ino"
                placeholder="Invoice No"
              />
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary form-control"
                  (click)="FindINo()"
                  accesskey="F"
                >
                  <i class="fa fa-search"></i>
                  Find
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card-block widget-body">
      <form (ngSubmit)="SaveData()" #fromPurchase="ngForm">
        <div class="row no-gutter">
          <div class="col-md-2">
            <label for="dp1">Date:</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp1"
                [(ngModel)]="sale.Date"
                ngbDatepicker
                #d1="ngbDatepicker"
                required
                disabled
              />
              <div class="input-group-addon">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="d1.toggle()"
                >
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="customer">Customer </label>
            <ng-select
              #cmbCustomers
              name="ng2select"
              class="custom"
              [items]="Accounts"
              [virtualScroll]="true"
              bindLabel="CustomerName"
              bindValue="CustomerID"
              placeholder="Select Customer"
              (change)="CustomerSelected($event)"
              required
              [disabled]="!btnLocked"
              [(ngModel)]="sale.CustomerID"
              (keydown.enter)="cmbStores.focus()"
              tabindex="1"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="row no-gutter">
                  <div class="col-md-12">
                    {{ item.CustomerName }}
                  </div>
                  <div class="col-md-9 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Address }}
                    </small>
                  </div>
                  <div class="col-md-3 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Balance }}
                    </small>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div class="col-md-4 form-group">
            <label for="">Adress</label>
            <p>
              <Strong> {{ SelectCust.Address }}, {{ SelectCust.City }}</Strong>
            </p>
          </div>
          <div class="col-md-2 form-group">
            <label for="">Balance</label>
            <p>
              <Strong> {{ SelectCust.Balance }} </Strong>
            </p>
          </div>
        </div>
        <form #formqty="ngForm">
          <div class="row no-gutter">
            <div class="col-md-2">
              <label for="stores"> Select Store </label>
              <ng-select
                #cmbStores
                name="stores"
                id="stores"
                class="custom"
                [items]="Stores | async"
                [virtualScroll]="true"
                bindLabel="StoreName"
                bindValue="StoreID"
                placeholder="Select Store"
                (change)="StoreSelected($event)"
                required
                TabSelectDirective
                [(ngModel)]="sdetails.StoreID"
                (keydown.enter)="cmbProduct.focus()"
                tabindex="2"
              >
              </ng-select>
            </div>
            <div class="col-md-5">
              <label for="customer"> Select product </label>
              <ng-select
                #cmbProduct
                name="cmbProduct"
                id="cmbProduct"
                class="custom"
                [items]="Stock"
                [virtualScroll]="true"
                bindLabel="ProductName"
                bindValue="ProductID"
                placeholder="Select Product"
                (change)="ProductSelected($event)"
                required
                [(ngModel)]="sdetails.ProductID"
                (keydown.enter)="qty.focus()"
                [searchFn]="ProductSearchFn"
                tabindex="3"
              >
                <ng-template ng-option-tmp let-item="item">
                  <div class="row no-gutter">
                    <div class="col-md-8">
                      {{ item.ProductName }}
                    </div>
                    <div class="col-md-2 text-italic font-small-2 mt-1">
                      {{ item.Stock }}
                    </div>
                    <div class="col-md-2 text-italic font-small-2 mt-1">
                      <small>
                        {{ item.ProductID }}
                      </small>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-md-5">
              <div class="row no-gutter">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="qty">Qty</label>
                    <input
                      type="number"
                      class="form-control dation-field"
                      required="required"
                      id="qty"
                      name="qty"
                      [(ngModel)]="sdetails.Qty"
                      #qty
                      (focus)="qty.select()"
                      (keydown.enter)="KGs.focus()"
                      tabindex="4"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Packing">Pkng</label>
                    <input
                      type="number"
                      class="form-control dation-field"
                      required="required"
                      id="Packing"
                      name="Packing"
                      [(ngModel)]="sdetails.Packing"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Kgs">Kgs</label>
                    <input
                      type="number"
                      class="form-control dation-field"
                      required="required"
                      id="Kgs"
                      name="Kgs"
                      [(ngModel)]="sdetails.KGs"
                      #KGs
                      (focus)="KGs.select()"
                      (keydown.enter)="txtRate.focus()"
                      tabindex="5"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="RPrice">Rate:</label>
                    <input
                      #txtRate
                      type="number"
                      class="form-control"
                      id="SPrice"
                      name="SPrice"
                      [(ngModel)]="sdetails.SPrice"
                      min="1"
                      required
                      (keydown.enter)="AddOrder()"
                      (focus)="txtRate.select()"
                      tabindex="7"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="bonus">Amount:</label>
                    <input
                      type="number"
                      class="form-control"
                      id="pamount"
                      name="pamount"
                      readonly
                      [value]="
                        ((sdetails.Qty * sdetails.Packing + sdetails.KGs * 1) *
                          sdetails.SPrice) /
                        sdetails.UnitValue
                      "
                      tabindex="-1"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <button
                      #btnAdd
                      type="button"
                      class="btn btn-primary form-control"
                      [disabled]="!formqty.form.valid || isPosted"
                      (click)="AddOrder()"
                      accesskey="a"
                    >
                      <i class="ft-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div>
          <div
            class="table-responsive custom-table-height table-bordered table-condensed"
          >
            <div>
              <ng2-smart-table
                class="table table-hover"
                [settings]="settings"
                [source]="data"
                (edit)="ConfirmEdit($event)"
                (deleteConfirm)="onDeleteConfirm($event)"
                (editConfirm)="onEdit($event)"
                tabindex="-1"
              >
              </ng2-smart-table>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-md-8">
              <div class="row no-gutter">
                <div class="col-md-3">
                  <div class="form-group">
                    <ft-navigator
                      (ClickAction)="NavigatorClicked($event)"
                      [disabled]="btnLocked"
                    >
                    </ft-navigator>
                  </div>
                </div>
                <div class="col-md-9">
                  <ft-buttons-bar
                    #btnBar
                    [buttons]="buttonConfigs"
                    [disabled]="btnLocked"
                  ></ft-buttons-bar>
                  &nbsp;
                  <ft-buttons-bar
                    [buttons]="btnSave"
                    [disabled]="!btnLocked"
                  ></ft-buttons-bar>
                </div>
              </div>
              <div class="row no-gutter">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="notes">Notes</label>
                    <input
                      class="form-control"
                      [(ngModel)]="sale.Notes"
                      type="text"
                      name="notes"
                      id="notes"
                      tabindex="17"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="notes">Walking Customer Name </label>
                    <input
                      class="form-control"
                      [(ngModel)]="sale.CustName"
                      type="text"
                      name="CustName"
                      id="CustName"
                      tabindex="18"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row no-gutter">
                <div class="col-md-6">
                  <label for="gtotal">Total Amount</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control bold-input"
                      id="gtotal"
                      name="gtotal"
                      [value]="sale.Amount | number: '1.0-0'"
                      tabindex="-1"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="PackingCharges">Packing Charges</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="PackingCharges"
                      name="PackingCharges"
                      [(ngModel)]="sale.PackingCharges"
                      tabindex="13"
                      accesskey="z"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="gtotal">Delivery Charges</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="DeliveryCharges"
                      name="DeliveryCharges"
                      [(ngModel)]="sale.DeliveryCharges"
                      tabindex="14"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="Labour">Labour</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="Labour"
                      name="Labour"
                      [(ngModel)]="sale.Labour"
                      tabindex="15"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="Discount">Discount</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="Discount"
                      name="Discount"
                      [(ngModel)]="sale.Discount"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="netTotal">Cash Receieved</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="AmntRecvd"
                      name="AmntRecvd"
                      [(ngModel)]="sale.AmntRecvd"
                      tabindex="16"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="netTotal">Balance</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="BalanceAmount"
                      name="BalanceAmount"
                      [value]="
                        sale.Amount * 1 +
                          sale.PackingCharges * 1 +
                          sale.DeliveryCharges * 1 +
                          sale.Labour * 1 -
                          sale.Discount -
                          sale.AmntRecvd * 1 | number: '1.0-0'
                      "
                      tabindex="-1"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
