<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-3">Sale Report</h5>

  </div>
  <div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
      <form #cashreportModel="ngForm">
        <div class="form-group row">


          <div class="form-group col-md-3">
            <label for="dp1">From Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="dteFilter.dteFrom"
                ngbDatepicker #d1="ngbDatepicker">

              <div class="input-group-append">
                <button class="btn btn-primary" (click)="d1.toggle()">
                  <i class="fa fa-calendar"></i> </button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="dp2">To Date</label>
            <div class="input-group">

              <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="dteFilter.dteTo"
                ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="d2.toggle()">
                  <i class="fa fa-calendar"></i> </button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-2">
            <label for="type">Select Type</label>
            <ejs-combobox name="type" id="type" (change)='TypeSelect($event)' [dataSource]='Typeinfo'
              [fields]='Typefields' required>
            </ejs-combobox>
          </div>

          <div class="form-group col-sm-3">
            <label for="customer">Select Account</label>
            <ejs-combobox name="customer" id="customer" [dataSource]="customerinfo" [fields]="customerfields"
              [(ngModel)]="CustomerID" required>
            </ejs-combobox>
          </div>
          <div class="form-group col-sm-1">
            <button type="button" style="margin-top:22px;" class="btn btn-success" (click)="LoadData()">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-block pt-0 widget-body">

    <div class="table-responsive">
      <ft-dynamic-table [Settings]="settings" [Data]="data" (ClickAction)="ActionClicked($event)">
      </ft-dynamic-table>

    </div>
  </div>

  <ng-template #DetailModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Invoice Details</h4>

    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card-block pt-0 widget-body">


            <div class="table-responsive">

              <ft-dynamic-table #RptTable [Settings]="settings1" [Data]="detaildata">
              </ft-dynamic-table>
              <!-- <ng2-smart-table class="table table-hover" [settings]="settings1" [source]="detaildata">

                  </ng2-smart-table> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
