<section class="sheet">
  <table class="table table-light">
    <thead>
      <tr>
        <th>
          <div class="Header">
            <!-- <img [src]="IMAGE_URL + 'logo.png'" alt="" style="width:100%;" /> -->
            <!-- <h1>{{ settings.title }}</h1>
            <h2>{{ settings.address }}, {{ settings.phoneno }}</h2>
            <h1 class="text-center">{{ printdata.Title }}</h1>
            <h5 class="text-center">{{ printdata.SubTitle }}</h5> -->


          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div id="main"></div>
        </td>
      </tr>
    </tbody>

  </table>
</section>
