<section id="print-content">
  <table style="width: 100%; height: 100%">
    <tbody style="vertical-align: top">
      <tr>
        <td colspan="4" *ngIf="Invoice.Type != 3">
          <!-- <app-print-title [Business]="Business"></app-print-title> -->
        </td>
      </tr>

      <tr>
        <td colspan="4" class="text-center" style="font-size: 16px">
          <strong
            >{{ Invoice.RefType == 1 ? 'CASH RECEIPT ' : 'CASH PAYMENT' }}
          </strong>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-left" style="width: 60%">
          <table class="">
            <tr>
              <td style="width: 40">Voucher No:</td>
              <td>
                <strong>{{ Invoice.VoucherID }} </strong>
              </td>
            </tr>
            <tr>
              <td>Date:</td>
              <td>
                {{ FormatDate(Invoice.Date) }}
              </td>
            </tr>

            <tr>
              <td>Customer No:</td>
              <td>{{ Invoice.CustomerID }}</td>
            </tr>

            <tr>
              <td>Account Name:</td>
              <td style="width: 50%">
                <strong>{{ Invoice.CustomerName }}</strong>
              </td>
            </tr>
            <tr>
              <td>Contact#:</td>
              <td>{{ Invoice.PhoneNo1 }}</td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>
                {{ Invoice.Address }}
              </td>
            </tr>
            <tr *ngIf="Invoice.BankAccountID > 0">
              <td>Bank Account:</td>
              <td>{{ Invoice.BankAccountName }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <table class="table-border">
            <tr class="total">
              <td class="text-left" style="width: 60%">
                <strong>Previous Balance </strong>
              </td>
              <td class="text-right">
                <div *ngIf="Invoice.RefType == 1">
                  Rs.
                  {{
                    (Invoice.CBalance * 1 +
                      (Invoice.Credit * 1 + Invoice.BankCash * 1))
                      | number: '1.0-0'
                  }}
                </div>
                <div *ngIf="Invoice.RefType == 2">
                X  Rs.
                  {{
                    Invoice.CBalance * 1 -
                      (Invoice.Debit * 1 + Invoice.BankCash * 1)
                      | number: '1.0-0'
                  }}
                </div>
              </td>
            </tr>
            <tr class="total">
              <td class="text-left">
                <strong> {{ Invoice.Description }}</strong>
              </td>
              <td class="text-right">
                Rs.
                <span *ngIf="Invoice.RefType == 1">
                  {{ Invoice.Credit | number: '1.0-0' }}</span
                >
                <span *ngIf="Invoice.RefType == 2">
                  {{ Invoice.Debit | number: '1.0-0' }}</span
                >
              </td>
            </tr>

            <tr class="total">
              <td class="text-left">
                <strong>Online</strong>
              </td>
              <td class="text-right">
                <strong>
                  Rs.
                  {{ Invoice.BankCash | number: '1.0-0' }}
                </strong>
              </td>
            </tr>
            <tr class="total">
              <td class="text-left">
                <strong>New Balance</strong>
              </td>
              <td class="text-right">
                <strong>
                  Rs.
                  {{ Invoice.CBalance | number: '1.0-0' }}
                </strong>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div style="height: 50px"></div>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          <table>
            <tr>
              <td style="width: 40%; border-top: 2px solid">
                <strong>Received By:</strong>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</section>
