<form (ngSubmit)="SaveData()" #fromPurchase="ngForm">
  <div class="row no-pad">
    <div class="form-group col-md-2">
      <label for="customer">Acct Type</label>
      <ejs-combobox name="accttype" id="accttype" #acctType [dataSource]="AcctTypes | async"
        [fields]="{ text: 'AcctType', value: 'AcctTypeID' }" (change)="getAccounts($event.value)">
      </ejs-combobox>
    </div>
    <div class="form-group col-md-3">
      <label for="customer">Customer <span class="text-right"><strong>
            {{ SelectCust.Address }}</strong>
        </span></label>

      <ejs-combobox name="customer" id="customer" [dataSource]="Accounts"
        [fields]="{ text: 'CustomerName', value: 'CustomerID' }" [allowFiltering]="true"
        (filtering)="onFiltering($event, 'CustomerName')" [(ngModel)]="purchase.CustomerID" required
        (change)="CustomerSelected($event)">
        <ng-template #itemTemplate="" let-data="">
          <div class="row">
            <div class="col-md-12">
              {{data.CustomerName}}
            </div>
            <div class="col-md-9">
              <small>
                {{data.Address}}
              </small>
            </div>
            <div class="col-md-3">
              <small>
                {{data.Balance}}
              </small>
            </div>
          </div>
        </ng-template>
      </ejs-combobox>
    </div>

    <div class="col-md-2">
      <label for="dp1">Date:</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="purchase.Date" ngbDatepicker
          disabled #d1="ngbDatepicker" />

        <div class="input-group-append">
          <button type="button" class="btn btn-warning" (click)="d1.toggle()">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <label for="dp2">Invoice Date:</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="purchase.InvoiceDate" ngbDatepicker
          #d2="ngbDatepicker" />

        <div class="input-group-append">
          <button type="button" class="btn btn-warning" (click)="d2.toggle()">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <label for="dp1">B/No:</label>
        <input type="text" class="form-control" id="InvoiceNo" name="InvoiceNo" [(ngModel)]="purchase.InvoiceNo" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="dp1">Store:</label>
        <select required name="StoreID" class="form-control"   [(ngModel)]="purchase.StoreID">
          <option *ngFor="let store of Stores" [value]="store.BusinessID">{{store.BusinessName}}</option>
        </select>
      </div>
    </div>
  </div>
  <form #formqty="ngForm">
    <div class="row no-gutter">
      <div class="col-md-3">
        <label for="dp2">Barcode:</label>
        <div class="input-group">
          <input class="form-control" placeholder="12345678" name="pcode"
          [(ngModel)]="selectedProduct.PCode"

          (keydown.f2) = "Search()"
          (keydown.f3) = "AddProd()"
          (keydown.enter) = "Find()"

            #Barcode />

          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="Search()">
              <i class="fa fa-search"></i>
              F2
            </button>
            <button type="button" class="btn btn-warning" (click)="AddProd()" >
              <i class="fa fa-plus"></i>
              F3
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="supplier">Select Product:</label>
          <p><strong>{{selectedProduct.ProductName}}</strong></p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label for="Packing">Packing:</label>
          <input type="number"
          class="form-control dation-field" required="required" id="Packing" name="Packing"
            [(ngModel)]="pdetails.Packing" disabled />
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label for="qty">Qty:</label>
          <input type="number"
          #qty
          class="form-control dation-field" required="required" id="qty" name="qty"
            [(ngModel)]="pdetails.Qty" placeholder="0" />
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label for="bonus">Bonus:</label>
          <input type="number" class="form-control" id="bonus" name="bonus" [(ngModel)]="pdetails.Bonus"
            placeholder="0" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="supplier">P. Price:</label>
          <input type="number" class="form-control" id="pprice" name="pprice" [(ngModel)]="pdetails.PPrice"
            placeholder="0" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="supplier">S. Price:</label>
          <input type="number" class="form-control" id="sprice" name="sprice" [(ngModel)]="pdetails.SPrice"
            placeholder="0" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="supplier">Pack Price:</label>
          <input type="number" class="form-control" id="PackPrice" name="PackPrice" [(ngModel)]="pdetails.PackPrice"/>
        </div>
      </div>
      <!-- <div class="col-md-1">
        <div class="form-group">
          <label for="DiscRatio">Disc %:</label>
          <input type="number" class="form-control" id="DiscRatio" name="DiscRatio" [(ngModel)]="pdetails.DiscRatio" />
        </div>
      </div> -->

      <div class="col-md-2">
        <div class="form-group">
          <label for="bonus">Amount:</label>
          <input type="number" class="form-control" id="pamount" name="pamount" readonly [value]="
              pdetails.Qty * pdetails.PPrice  -
              (pdetails.Qty * pdetails.PPrice  * pdetails.DiscRatio) / 100
            " />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>&nbsp;</label>
          <button type="submitt" class="btn btn-primary form-control" [disabled]="!formqty.form.valid"
            (click)="AddOrder()" accesskey="a">
            Add
          </button>
        </div>
      </div>
    </div>
  </form>
  <div style="margin: 5px;">
    <h5 class="mb-0">Purchase Details</h5>
    <div class="table-responsive table-bordered table-condensed">
      <ng2-smart-table class="table table-hover" [settings]="settings" [source]="data"
        (deleteConfirm)="onDeleteConfirm($event)" (rowSelect)="onRowSelect($event)"
        (userRowSelect)="onUserRowSelect($event)" (editConfirm)="onEdit($event)" (rowHover)="onRowHover($event)">
      </ng2-smart-table>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="notes">Notes:</label>

              <input type="text" class="form-control" id="notes" name="notes" [(ngModel)]="purchase.Notes"
                placeholder="x" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="dp2">&nbsp;</label>
              <button type="button" class="btn btn-primary form-control"
                [disabled]="(!fromPurchase.form.valid) || (data.count()==0)" (click)="SaveData()" accesskey="s">
                Save
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="dp2">&nbsp;</label>
              <button type="button" class="btn btn-danger form-control" (click)="Cancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <label for="gtotal" style="padding-top: 5px;">Total Amount:</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="gtotal" name="gtotal" [(ngModel)]="purchase.Amount"
                readonly />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="rdisc" style="padding-top: 5px;">Discount:</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="rdisc" name="rdisc" [(ngModel)]="purchase.Discount"
                (change)="changel()" readonly />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="rdisc" style="padding-top: 5px;">Extra Disc:</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="rdisc" name="rdisc" [(ngModel)]="purchase.ExDiscount" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="amount" style="padding-top: 5px;">Net Amount:</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="amount" name="amount"
                [value]="purchase.NetAmount - purchase.ExDiscount" readonly />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
