<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-3">Account Ledger</h5>
  </div>
  <div class="card-block widget-body">
    <form #frmFilter="ngForm">
      <div class="row no-pad">
        <div class="col-md-2">
          <label for="dtFrom">From Date:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dtFrom"
              [(ngModel)]="Filter.FromDate"
              ngbDatepicker
              #dtFrom="ngbDatepicker"
            />
            <div class="input-group-addon">
              <button
                type="button"
                class="btn btn-warning"
                (click)="dtFrom.toggle()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <label for="dtTo">To Date:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dtTo"
              [(ngModel)]="Filter.ToDate"
              ngbDatepicker
              #dtTo="ngbDatepicker"
            />
            <div class="input-group-addon">
              <button
                type="button"
                class="btn btn-warning"
                (click)="dtTo.toggle()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>


        <div class="form-group col-md-2">
           <div class="form-group">
            <label for="cmbacctType">Account Type</label>
            <select id="cmbacctType" class="form-control" name="cmbacctType" (click) = "loadAccount($event.target.value)">
              <option value="1">Suppliers</option>
              <option value="2">Banks and Cash</option>
              <option value="3">Customers</option>
              <option value="4">Expenses</option>
              <option value="5">Employees</option>
            </select>
           </div>

        </div>

        <div class="form-group col-md-3">
          <label for="account">Accounts</label>
          <ejs-dropdownlist
          #cmbAccount
            name="account"
            id="account"
            [dataSource]="Accounts"
            [fields]="{ text: 'account_name', value: 'account_id' }"
            [(ngModel)]="Filter.AccountID"
            (change)="AccountSelected($event)"
            required
            [allowFiltering]="true"
            [sortOrder]="'Ascending'"
          >
          </ejs-dropdownlist>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <label>&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary form-control"
              (click)="FilterData()"
              accesskey="a"
            >
              <i class="fa fa-search"></i>
              Filter
            </button>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary form-control"
              accesskey="p"
              (click)="PrintReport()"
            >
              <i class="fa fa-print"></i>
              Print
            </button>
          </div>
        </div>
      </div>
    </form>
    <div id="print-section">
      <div class="row no-pad">
        <div class="col-md-12">
          <div class="text-center">
            <h1>Account Details</h1>
          </div>
          <table class="table">
            <tr>
              <td>
                Account Name:
              </td>
              <td>
                {{ account.account_name }}
              </td>
              <td>From</td>
              <td>{{ formatDate(Filter.FromDate) }}</td>
            </tr>
            <tr>
              <td>
                Details:
              </td>
              <td>
                {{ account.description }}
              </td>
              <td>To</td>
              <td>{{ formatDate(Filter.ToDate) }}</td>
            </tr>

          </table>
        </div>
      </div>

      <div class="row no-pad">
        <div class="col-md-12">
          <ft-dynamic-table
            [Settings]="setting"
            [Data]="data"
          ></ft-dynamic-table>
        </div>
      </div>
    </div>
  </div>
</div>
