<div widget class="card border-0 p-2 box-shadow">
  <div class="card-block pt-0 widget-body">
    <div class="row no-gutter">
      <div class="col-md-3">
        <h5 class="mb-3">Purchase Invoice # {{ EditID }}</h5>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="cmbType">Invoice Type</label>
          <select
            name="cmbType"
            id="cmbType"
            class="form-control"
            [(ngModel)]="purchase.DtCr"
          >
            <option value="CR">Purchase</option>
            <option value="DT">Purchase Return</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" type="button" (click)="NewCustomer()">
          New Account
        </button>
        <div *ngIf="isPosted" class="text-center btn btn-danger btn-sm">
          POSTED INVOICE
        </div>
      </div>
      <div class="col-md-3">
        <form #frmFilter="ngForm">
          <div class="row no-gutter">
            <div class="col-md-6">
              <input
                class="form-control"
                name="ino"
                [(ngModel)]="Ino"
                placeholder="Invoice No"
                (focus)="$event.target.select()"
              />
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary form-control"
                  (click)="FindINo()"
                  accesskey="F"
                >
                  <i class="fa fa-search"></i>
                  Find
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card-block widget-body">
      <form (ngSubmit)="SaveData()" #fromPurchase="ngForm">
        <div class="row no-gutter">
          <div class="col-md-4">
            <div class="row no-gutter">
              <div class="col-md-4">
                <label for="dp1">Date:</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp1"
                    [(ngModel)]="purchase.Date"
                    ngbDatepicker
                    #d1="ngbDatepicker"
                  />
                  <div class="input-group-addon">
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="d1.toggle()"
                    >
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="dp1">Invoice Date:</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp2"
                    [(ngModel)]="purchase.InvoiceDate"
                    ngbDatepicker
                    #d2="ngbDatepicker"
                  />
                  <div class="input-group-addon">
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="d2.toggle()"
                    >
                      <i class="fa fa-calendar"> </i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="">Invoice No</label>
                <input
                  type="text"
                  name="invoiceNo"
                  id="invoiceNo"
                  [(ngModel)]="purchase.InvoiceNo"
                  class="form-control"
                  (focus)="$event.target.select()"
                />
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="customer">Supplier </label>
            <ng-select
              #cmbCustomers
              name="ng2select"
              class="custom"
              [items]="Accounts"
              [virtualScroll]="true"
              bindLabel="CustomerName"
              bindValue="CustomerID"
              placeholder="Select Customer"
              (change)="CustomerSelected($event)"
              required
              [disabled]="!btnLocked"
              [(ngModel)]="purchase.CustomerID"
              (keydown.enter)="cmbStores.focus()"
              selectOnTab="true"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="row no-gutter">
                  <div class="col-md-12">
                    {{ item.CustomerName }}
                  </div>
                  <div class="col-md-9 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Address }}
                    </small>
                  </div>
                  <div class="col-md-3 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Balance }}
                    </small>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="VehicleNo">Veh No</label>
              <input
                class="form-control"
                [(ngModel)]="purchase.VehicleNo"
                type="text"
                name="VehicleNo"
                id="VehicleNo"
                required
                (focus)="$event.target.select()"
              />
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label for="">Adress</label>
            <p>
              <Strong> {{ SelectCust.Address }}, {{ SelectCust.City }}</Strong>
            </p>
          </div>
          <div class="col-md-1 form-group">
            <label for="">Balance</label>
            <p>
              <Strong> {{ SelectCust.Balance }} </Strong>
            </p>
          </div>
        </div>
        <form #formqty="ngForm">
          <div class="row no-gutter">
            <div class="col-md-2">
              <label for="customer"> Select Store </label>
              <select
                [(ngModel)]="sdetails.StoreID"
                name="cmbStores"
                id="cmbStores"
                class="form-control"
                required
                (change)="StoreSelected($event)"
                #cmbStores
              >
                <option
                  *ngFor="let item of Stores | async"
                  [value]="item.StoreID"
                >
                  {{ item.StoreName }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="customer"> Select product </label>
              <ng-select
                #cmbProduct
                name="cmbProduct"
                id="cmbProduct"
                class="custom"
                [items]="Products | async"
                [virtualScroll]="true"
                bindLabel="ProductName"
                bindValue="ProductID"
                placeholder="Select Product"
                (change)="ProductSelected($event)"
                required
                [(ngModel)]="sdetails.ProductID"
                [searchFn]="ProductSearchFn"
                selectOnTab="true"
              >
                <ng-template ng-option-tmp let-item="item">
                  <div class="row no-gutter">
                    <div class="col-md-9">
                      <strong>{{ item.ProductName }}</strong>
                    </div>

                    <div class="col-md-3 text-italic font-small-2 mt-1">
                      <small>
                        {{ item.ProductID }}
                      </small>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-md-6">
              <div class="row no-gutter">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="qty">Qty</label>
                    <input
                      type="number"
                      class="form-control dation-field"
                      required="required"
                      id="qty"
                      name="qty"
                      [(ngModel)]="sdetails.Qty"
                      #qty
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Packing">Packing</label>
                    <input
                      type="number"
                      class="form-control dation-field"
                      required="required"
                      id="Packing"
                      name="Packing"
                      min="1"
                      [(ngModel)]="sdetails.Packing"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Units">Units</label>
                    <input
                      type="number"
                      class="form-control dation-field"
                      readonly
                      id="Units"
                      name="Units"
                      [value]="sdetails.Qty * sdetails.Packing"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="RPrice">P Rate:</label>
                    <input
                      #txtRate
                      type="number"
                      class="form-control"
                      id="PPrice"
                      name="PPrice"
                      [(ngModel)]="sdetails.PPrice"
                      min="1"
                      required
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="RPrice">S Rate:</label>
                    <input
                      type="number"
                      class="form-control"
                      id="SPrice"
                      name="SPrice"
                      [(ngModel)]="sdetails.SPrice"
                      min="1"
                      required
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="bonus">Amount:</label>
                    <input
                      type="number"
                      class="form-control"
                      id="pamount"
                      name="pamount"
                      readonly
                      [value]="sdetails.Qty * sdetails.PPrice * sdetails.Packing"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <button
                      #btnAdd
                      type="submit"
                      class="btn btn-primary form-control"
                      [disabled]="!formqty.form.valid || isPosted"
                      (click)="AddOrder()"
                      accesskey="a"
                    >
                      <i class="ft-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div>
          <div
            class="table-responsive custom-table-height table-bordered table-condensed"
          >
            <div>
              <ng2-smart-table
                class="table table-hover"
                [settings]="settings"
                [source]="data"
                (edit)="ConfirmEdit($event)"
                (deleteConfirm)="onDeleteConfirm($event)"
                (editConfirm)="onEdit($event)"
              >
              </ng2-smart-table>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-md-8">
              <div class="row no-gutter">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="notes">Cash Paid</label>
                    <input
                      class="form-control"
                      [(ngModel)]="purchase.Cash"
                      type="number"
                      name="Cash"
                      id="Cash"
                      (focus)="$event.target.select()"
                      (change)="purchase.AmountPaid = purchase.Cash* 1 + purchase.Bank * 1"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="notes">Bank Paid</label>
                    <input
                      class="form-control"
                      [(ngModel)]="purchase.Bank"
                      type="number"
                      name="Bank"
                      id="Bank"
                      (focus)="$event.target.select()"
                      (change)="purchase.AmountPaid = purchase.Cash* 1 + purchase.Bank * 1"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="notes">Bank Account</label>
                    <select
                      name="cmbBank"
                      id="cmbBank"
                      class="form-control"
                      [(ngModel)]="purchase.BankID"
                    >
                      <option
                        *ngFor="let item of Banks"
                        [value]="item.CustomerID"
                      >
                        {{ item.CustomerName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="notes">Total Cash Paid</label>
                    <input
                      class="form-control"
                      [(ngModel)]="purchase.AmountPaid"
                      type="text"

                      readonly
                      name="AmntRecvd"
                      id="AmntRecvd"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-3">
                  <div class="form-group">
                    <ft-navigator
                      (ClickAction)="NavigatorClicked($event)"
                      [disabled]="btnLocked"
                    >
                    </ft-navigator>
                  </div>
                </div>
                <div class="col-md-9">
                  <ft-buttons-bar
                    #btnBar
                    [buttons]="buttonConfigs"
                    [disabled]="btnLocked"
                  ></ft-buttons-bar>
                  &nbsp;
                  <ft-buttons-bar
                    [buttons]="btnSave"
                    [disabled]="!btnLocked"
                  ></ft-buttons-bar>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row no-gutter">
                <div class="col-md-6">
                  <label for="gtotal">Total Amount</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control bold-input"
                      id="gtotal"
                      name="gtotal"
                      [value]="purchase.Amount | number: '1.0-0'"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="gtotal">Delivery Charges</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="FrieghtCharges"
                      name="FrieghtCharges"
                      [(ngModel)]="purchase.FrieghtCharges"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="Labour">Labour</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="Labour"
                      name="Labour"
                      [(ngModel)]="purchase.Labour"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="Discount">Discount</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="Discount"
                      name="Discount"
                      [(ngModel)]="purchase.Discount"
                      (focus)="$event.target.select()"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="netTotal">Balance</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="BalanceAmount"
                      name="BalanceAmount"
                      [value]="
                        purchase.Amount * 1 +
                          purchase.FrieghtCharges * 1 +
                          purchase.Labour * 1 -
                          purchase.AmountPaid * 1 -
                          purchase.Discount | number: '1.0-0'
                      "
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
