<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Customers List</div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div>
          <form #frmFilter="ngForm">
            <div class="row no-pad">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Customer Type</label>
                  <select
                    name="cmbAgents"
                    id="cmbAgents"
                    [(ngModel)]="Filter.customer_type"
                    class="form-control"
                  >
                    <option value="" selected>--Customer Type--</option>
                    <option *ngFor="let cust of custTypes" [value]="cust.id">
                      {{ cust.type }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="FilterData()"
                    accesskey="a"
                  >
                    <i class="fa fa-search"></i>
                    Filter
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button
                    #AddBtn
                    [disabled]="!bAllowedCreate"
                    type="button"
                    class="btn btn-warning form-control"
                    (click)="AddCustomer()"
                    accesskey="a"
                  >
                    <i class="fa fa-plus"></i>
                    Add
                  </button>
                </div>
              </div>
            </div>
          </form>
          <ft-datatable
            #dataList
            [CRUD]="false"
            [Settings]="Settings"
            [Filter]="filterList"
            (ClickAction)="Clicked($event)"
          ></ft-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
