<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-0">Cash Payments</h5>
  </div>
<div class="card-block widget-body">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="SaveData(customerpayment)" #customerpaymentform="ngForm">

        <input type="text" class="sr-only" [(ngModel)]="customerpayment.DetailID" name="id" placeholder=" ID here">
        <div class='row'>
          <div class="form-group col-md-12">
            <label for="type">Select Type</label>
            <ejs-combobox name="type" id="type" (change)='TypeSelect($event)' [dataSource]='Typeinfo' [fields]='Typefields'
              class="validation-field" required>
            </ejs-combobox>
          </div>

          <div class="form-group col-md-12">
            <label for="customer">Select Account</label>
            <ejs-combobox name="customer" id="customer" (change)='CustomerSelect($event)' [dataSource]='customerinfo'
              [fields]='customerfields' [(ngModel)]="customerpayment.CustomerID" class="validation-field" required>
            </ejs-combobox>
          </div>


          <div class="form-group col-md-12">
            <label for="desc" class="card-text">Description</label>
            <textarea class="form-control" [(ngModel)]="customerpayment.Description" rows="1" name="desc" id="desc"
              placeholder="Description"></textarea>
          </div>

          <div class="form-group col-md-12">
            <label for="amount">Debit</label>
            <input type="text" class="form-control validation-field" required="required" [(ngModel)]="customerpayment.AmountPaid"
              name="amount" placeholder="0">
          </div>

        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success form-control" [disabled]="!customerpaymentform.form.valid">Save</button>

        </div>
        <div class="form-group col-md-6">
          <button type="button" class="btn btn-primary form-control" (click)="Cancel()">Cancel</button>
        </div>
      </div>
      </form>
    </div>
    <div class="col-md-6">

      <div class="row">
          <div class="form-group col-md-12">
              <label for="address" class="card-text">Address</label>
              <input type="text" readonly class="form-control" [(ngModel)]="Address" name="address" placeholder="">
            </div>
            <div class="form-group col-md-12">
              <label for="city" class="card-text">City</label>
              <input type="text" readonly class="form-control " [(ngModel)]="City" name="city" placeholder="">
            </div>

            <div class="form-group col-md-12">
              <label for="balance" class="card-text">Balance</label>
              <input type="text" readonly class="form-control" [(ngModel)]="Balance" name="balance" placeholder="0">
            </div>
          </div>
      </div>
  </div>
</div>
</div>
