<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Donars List</div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="row no-pad">
          <div class="col-md-12">
            <app-crud-form
              [Form]="FilterForm"
              [formdata]="Filter"
              [CrudButtons]="false"
            >
            </app-crud-form>
          </div>
        </div>
      </div>
      <div class="row no-pad" id="print-section">
        <div class="col-md-12">
          <ft-dynamic-table
            #rptTable
            [Settings]="Settings"
            [Data]="data"
            (ClickAction)="Clicked($event)"
          ></ft-dynamic-table>
        </div>
      </div>
    </div>
  </div>
</section>
