@page {
  margin: 2mm;
  size: A4;
}

body {
  font-size: 8pt;
  font-weight: 600;
  color: #000000; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 22pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-size: 16pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-spacing: 0;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

table.table-border {
  border-collapse: collapse;
}
table.table-border td,
table.table-border th {
  border: 1.5px solid #000;
} /* Make cells a bit taller */

th {
  background: #c0c0c0; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
  padding: 2px;
}

td {
  background: #fff; /* Lighter grey background */
  padding: 1px;
}
#print-section {
  margin-top: 5mm;
  margin: auto;
  height: auto;
  background: white;
  color: #000;
  font-weight: 600;
  box-sizing: border-box;
}

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  .no-print {
    display: none;
  }
  #print-section {
    // width: 210mm;
    margin-left: 5mm;
    margin-right: 5mm;


  }
  #spacer {
    height: 2em;
  } /* height of footer + a little extra */
  #footer {
    position: fixed;
    bottom: 0;
  }

  .buttonarea {
    visibility: hidden;
  }
}
