<div #scrollTop></div>
<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">Stock Transfer</h5>
      </div>
      <div class="col-md-4">
        <div *ngIf="isPosted" class="text-center btn btn-danger btn-sm">
          POSTED INVOICE
        </div>
      </div>
      <div class="col-md-4">
        <form #frmFilter="ngForm">
          <div class="row">
            <div class="col-md-6">
              <input
                class="form-control"
                name="ino"
                [(ngModel)]="Ino"
                placeholder="Transfer No"
              />
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary form-control"
                  (click)="FindINo()"
                  accesskey="F"
                >
                  <i class="fa fa-search"></i>
                  Find Transfer
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-block widget-body">
    <form (ngSubmit)="SaveData()" #fromPurchase="ngForm">
      <div class="row no-gutter">
        <div class="col-md-2">
          <label for="dp1">Date:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp1"
              [(ngModel)]="stocktransfer.Date"
              ngbDatepicker
              #d1="ngbDatepicker"
              required
              disabled
            />
            <div class="input-group-addon">
              <button
                type="button"
                class="btn btn-warning"
                (click)="d1.toggle()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="stores"> Select From Store </label>
          <ng-select
            name="cmbFromStore"
            id="cmbFromStore"
            class="custom"
            [items]="Stores | async"
            [virtualScroll]="true"
            bindLabel="StoreName"
            bindValue="StoreID"
            placeholder="Select Store"
            (change)="StoreSelected($event)"
            required
            [(ngModel)]="stocktransfer.FromStore"
          >
          </ng-select>
        </div>
        <div class="col-md-3">
          <label for="stores"> Select To Store </label>
          <ng-select
            name="cmbToStore"
            id="cmbToStore"
            class="custom"
            [items]="Stores | async"
            [virtualScroll]="true"
            bindLabel="StoreName"
            bindValue="StoreID"
            placeholder="Select Store"
            required
            [(ngModel)]="stocktransfer.ToStore"
            (keydown.enter)="cmbProduct.focus()"
          >
          </ng-select>
        </div>
        <div class="col-md-4">
          <label for="stores"> Select Account </label>
          <ng-select
            #cmbCustomers
            name="cmbCustomer"
            class="custom"
            [items]="Accounts"
            [virtualScroll]="true"
            bindLabel="CustomerName"
            bindValue="CustomerID"
            placeholder="Select Customer"
            required
            [(ngModel)]="stocktransfer.CustomerID"
            (keydown.enter)="cmbProduct.focus()"
          >
            <ng-template ng-option-tmp let-item="item">
              <div class="row no-gutter">
                <div class="col-md-12">
                  {{ item.CustomerName }}
                </div>
                <div class="col-md-9 text-italic font-small-2 mt-1">
                  <small>
                    {{ item.Address }}
                  </small>
                </div>
                <div class="col-md-3 text-italic font-small-2 mt-1">
                  <small>
                    {{ item.Balance }}
                  </small>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <form #formqty="ngForm">
        <div class="row no-gutter">
          <div class="col-md-4">
            <label for="customer"> Select product </label>
            <ng-select
              #cmbProduct
              name="cmbProduct"
              id="cmbProduct"
              class="custom"
              [items]="Stock"
              [virtualScroll]="true"
              bindLabel="ProductName"
              bindValue="ProductID"
              placeholder="Select Product"
              (change)="ProductSelected($event)"
              required
              [(ngModel)]="transferdetails.ProductID"
              (keydown.enter)="qty.focus()"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="row no-gutter">
                  <div class="col-md-9">
                    {{ item.ProductName }}
                  </div>
                  <div class="col-md-3 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Stock }}
                    </small>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div class="col-md-1">
            <div class="form-group">
              <label for="qty">Qty</label>
              <input
                type="number"
                class="form-control dation-field"
                required="required"
                id="qty"
                name="qty"
                [(ngModel)]="transferdetails.Qty"
                #qty
                (keydown.enter)="KGs.focus()"
                (focus)="qty.select()"
              />
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="Packing">Packing</label>
              <input
                type="number"
                class="form-control dation-field"
                required="required"
                id="Packing"
                name="Packing"
                [(ngModel)]="transferdetails.Packing"
                disabled
              />
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="Kgs">Kgs</label>
              <input
                type="number"
                class="form-control dation-field"
                required="required"
                id="Kgs"
                name="Kgs"
                [(ngModel)]="transferdetails.KGs"
                #KGs
                (keydown.enter)="btnAdd.focus()"
                (focus)="KGs.select()"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>&nbsp;</label>
              <button
                #btnAdd
                type="button"
                class="btn btn-primary form-control"
                [disabled]="!formqty.form.valid || isPosted"
                (click)="AddOrder()"
                accesskey="a"
              >
                <i class="fa fa-plus"></i>
                Add
              </button>
            </div>
          </div>
        </div>
      </form>

      <div>
        <h5 class="mb-3">Sale Details</h5>
        <div class="table-responsive table-bordered table-condensed">
          <ng2-smart-table
            class="table table-hover"
            [settings]="settings"
            [source]="data"
            (deleteConfirm)="onDeleteConfirm($event)"
            (editConfirm)="onEdit($event)"
          >
          </ng2-smart-table>
        </div>

        <div class="row no-gutter">
          <div class="col-md-8">
            <div class="form-group">
              <label for="Notes">Notes</label>
              <input
                type="text"
                class="form-control"
                id="Notes"
                name="Notes"
                [(ngModel)]="stocktransfer.Notes"
                tabindex="-1"

              />
            </div>
          </div>



        </div>
        <div class="row no-gutter">
          <div class="col-md-4">
            <div class="form-group">
              <label for="notes">&nbsp;</label>
              <ft-navigator (ClickAction)="NavigatorClicked($event)">
              </ft-navigator>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="dp2">&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                (click)="NewInvoice()"
                accesskey="s"
              >
                New
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="dp2">&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                [disabled]="
                  !fromPurchase.form.valid || data.count() == 0 || isPosted
                "
                (click)="SaveData()"
                accesskey="s"
              >
                Save
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="dp2">&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                [disabled]="!fromPurchase.form.valid || data.count() == 0"
                (click)="PrintInvoice()"
                accesskey="p"
              >
                Print
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="dp2">&nbsp;</label>
              <button
                type="button"
                class="btn btn-danger form-control"
                (click)="Cancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
