<div class="container">
  <div class="modal-header">
    <h4 class="modal-title pull-left"><h5 class="mb-3">Add Purchase Order</h5></h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div widget class="card border-0 box-shadow"></div>
    <div class="card-header transparent border-0 text-muted"></div>
    <div class="card-block widget-body">
      <div class="row no-gutter">
        <div class="col">
          <app-crud-form
                [Form]="form"
                [formdata]="formData"
                (BeforeSave)="BeforeSaveStore($event)"
                (DataSaved)="AfterSaveStore($event)"
                (Cancelled)="CancelForm($event)"
              >
              </app-crud-form>
        </div>
      </div>
    </div>
  </div>
</div>
