#print-section {
  font-weight: 600;
  color: black;
}
.buttonarea {
  padding: 2mm;
  width: 148mm;
  position: relative;
  box-sizing: border-box;
  margin: 5mm auto;
}
@page {
  size: A5;
}
