<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">
        <h5>Add Invoice</h5>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <form (ngSubmit)="SaveData()" #fromPurchase="ngForm">
          <div class="row no-gutter">
            <div class="col-md-3">
              <label for="dp1">Date:</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp1"
                  [(ngModel)]="invoice.Date"
                  ngbDatepicker
                  #d1="ngbDatepicker"
                  required
                />
                <div class="input-group-addon">
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="d1.toggle()"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group col-md-9">
              <label for="customer">Customer </label>
              <ng-select
                #cmbCustomers
                name="customer"
                class="custom"
                [items]="Accounts"
                [virtualScroll]="true"
                bindLabel="CustomerName"
                bindValue="CustomerID"
                placeholder="Select Customer"
                required
                [(ngModel)]="invoice.CustomerID"
                selectOnTab="true"
              >
                <ng-template ng-option-tmp let-item="item">
                  <div class="row no-gutter">
                    <div class="col-md-12">
                      <strong>{{ item.CustomerName }}</strong>
                    </div>
                    <div class="col-md-9 text-italic font-small-2 mt-1">
                      <small>
                        {{ item.Address }}
                      </small>
                    </div>
                    <div class="col-md-3 text-italic font-small-2 mt-1">
                      <small>
                        {{ item.City }}
                      </small>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <form #formqty="ngForm">
            <div class="row no-gutter">
              <div class="col-md-6">
                <label for="customer"> Select Product</label>
                <ng-select
                  #cmbProduct
                  name="cmbProduct"
                  id="cmbProduct"
                  class="custom"
                  [items]="Products"
                  [virtualScroll]="true"
                  bindLabel="ProductName"
                  bindValue="ProductID"
                  placeholder="Select Product"
                  (change)="invoicedetail.SPrice = $event.SPrice"
                  required
                  [(ngModel)]="invoicedetail.ProductID"
                  (keydown.enter)="qty.focus()"
                  [searchFn]="ProductSearchFn"
                  selectOnTab="true"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div class="row no-gutter">
                      <div class="col-md-9">
                        <strong>{{ item.ProductName }}</strong>
                      </div>

                      <div class="col-md-3 text-italic font-small-2 mt-1">
                        <small>
                          {{ item.SPrice }}
                        </small>
                      </div>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-md-6">
                <div class="row no-gutter">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="qty">Qty</label>
                      <input
                        type="number"
                        class="form-control dation-field"
                        required="required"
                        id="qty"
                        name="qty"
                        [(ngModel)]="invoicedetail.Qty"
                        #qty
                        (focus)="$event.target.select()"
                      />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="RPrice">Rate:</label>
                      <input
                        #txtRate
                        type="number"
                        class="form-control"
                        id="SPrice"
                        name="SPrice"
                        [(ngModel)]="invoicedetail.SPrice"
                        min="1"
                        required
                        (focus)="$event.target.select()"
                      />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="bonus">Amount:</label>
                      <input
                        type="number"
                        class="form-control"
                        id="pamount"
                        name="pamount"
                        readonly
                        [value]="invoicedetail.Qty * invoicedetail.SPrice"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <button
                        #btnAdd
                        type="submit"
                        class="btn btn-primary form-control"
                        [disabled]="!formqty.form.valid || invoicedetail.Qty <= 0"
                        (click)="AddInvoice()"
                        accesskey="a"
                      >
                        <i class="ft-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div
            class="table-responsive custom-table-height table-bordered table-condensed"
          >
            <div>
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableData; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.ProductName }}
                      <br />
                      <small *ngIf="item.Color" class="text-muted">Color: {{ item.Color }}</small>
                      <br />
                      <small *ngIf="item.Size" class="text-muted">Size: {{ item.Size }}</small>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          (click)="item.Qty > 1 && (item.Qty = item.Qty - 1)"
                          [disabled]="item.Qty <= 1"
                          aria-label="Decrease quantity"
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                        <span class="w-100 text-center d-inline-block">{{item.Qty}}</span>
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          (click)="item.Qty = item.Qty + 1"
                          aria-label="Increase quantity"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td>{{ item.SPrice }}</td>
                    <td>{{ item.Qty * item.SPrice }}</td>
                    <td>
                      <button class="btn btn-sm btn-warning" (click)="onEdit(item)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn btn-sm btn-danger" (click)="onDeleteConfirm(item)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="!tableData || tableData.length === 0">
                    <td colspan="6" class="text-center">No records found.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-md-8">
              <div class="form-group">
                <label for="notes">Notes</label>
                <input
                  class="form-control"
                  [(ngModel)]="invoice.Notes"
                  type="text"
                  name="notes"
                  id="notes"
                  (focus)="$event.target.select()"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="notes">Amount </label>
                <input
                  type="text"
                  class="form-control bold-input"
                  id="gtotal"
                  name="gtotal"
                    [value]="invoice.Amount | currency:'EUR':'symbol'"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-md-8"></div>
            <div class="col-md-2">
              <button
              type="submit"
              class="btn btn-success btn-block mt-1"
              [disabled]="!fromPurchase.form.valid"
              >
              <i class="fa fa-save"></i> Save
              </button>
              </div>
            <div class="col-md-2">
              <button
              type="button"
              class="btn btn-secondary btn-block mt-1"
              (click)="Cancel()"
              >
              <i class="fa fa-times"></i> Close
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
