<div class="row no-pad">
  <div class="col-md-3">
    <button
      type="button"
      class="btn-block btn btn-secondary"
      (click)="ButtonClicked(1)"
    >
      <i class="fa fa-backward-fast"></i>
    </button>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      (click)="ButtonClicked(2)"
      class="btn-block btn btn-secondary"
    >
      <i class="fa fa-backward"></i>
    </button>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      (click)="ButtonClicked(3)"
      class="btn-block btn btn-secondary"
    >
      <i class="fa fa-forward"></i>
    </button>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      (click)="ButtonClicked(4)"
      class="btn-block btn btn-secondary"
    >
      <i class="fa fa-forward-fast"></i>
    </button>
  </div>
</div>
