<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-3">Add Recovery</h5>
  </div>
  <div class="card-block widget-body">
    <div class="container">
      <div class="row no-gutter">
        <div class="col-md-12">
          <ft-crud-form
            #form
            [form]="CashForm"
            [formdata]="model"
            [CrudButtons]="false"
            (change)="Changed($event)"
          >
          </ft-crud-form>
        </div>
      </div>

      <div class="row no-gutter">
        <div class="col-md-12">
          <ft-dynamic-table #RptTable [Settings]="setting" [Data]="data"
          (ClickAction)="Clicked($event)"></ft-dynamic-table>
        </div>
      </div>
    </div>
  </div>
</div>
