<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-0">Lab Tests</h5>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition">
        <i class="fa fa-chevron-down"></i>
      </a>
      <a data-widgster="collapse" href="#" class="transition">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a data-widgster="fullscreen" href="#" class="transition">
        <i class="fa fa-expand"></i>
      </a>
      <a data-widgster="restore" href="#" class="transition">
        <i class="fa fa-compress"></i>
      </a>
    </div>
  </div>
  <div class="card-block widget-body">
    <form #frmFilter="ngForm">
      <div class="row">
        <div class="col-md-3">
          <label for="dtFrom">From Date:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dtFrom"
              [(ngModel)]="Filter.FromDate"
              ngbDatepicker
              #dtFrom="ngbDatepicker"
            />
            <div class="input-group-addon">
              <button
                type="button"
                class="btn btn-warning"
                (click)="dtFrom.toggle()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="dtTo">To Date:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dtTo"
              [(ngModel)]="Filter.ToDate"
              ngbDatepicker
              #dtTo="ngbDatepicker"
            />
            <div class="input-group-addon">
              <button
                type="button"
                class="btn btn-warning"
                (click)="dtTo.toggle()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary form-control"
              (click)="FilterData()"
            >
              <i class="fa fa-search"></i>
              Filter
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="row" id="print-section">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let col of setting.Columns">
                {{ col.label }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let r of data">
              <tr>
                <td colspan="4" class="text-center text-large">
                  <strong> {{ r.group_name }}</strong>
                </td>
              </tr>
              <tr *ngFor="let v of r.values">
                <td
                  *ngFor="let col of setting.Columns"
                  [ngClass]="{ 'text-danger font-weight-bold': !v['abnormal'] }"
                >
                  {{ v[col.fldName] }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <!-- <table class="table table-stripped">
          <thead>
            <th *ngFor="let col of setting.Columns">
              {{ col.label }}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let r of data">
              <td *ngFor="let col of setting.Columns" [ngClass]="{'text-danger font-weight-bold': !r['normal']}">
                {{ r[col.fldName] }}
              </td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</div>
