@media print {
  body * {
    visibility: hidden;
  }
  #print-content * {
    visibility: visible;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

@page {
  size: 2.4in 11in;
  margin-top: 0cm;
  margin-left: 0cm;
  margin-right: 0cm;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

header {
  width: 100%;
  text-align: center;
  -webkit-align-content: center;
  align-content: center;
  vertical-align: middle;
}

.items thead {
  text-align: center;
}

.center-align {
  text-align: center;
}

.bill-details td,th {
  font-size: 10px;
  font-weight: 600;
  color: black;
}

.receipt {
  font-size: medium;
}

.items .heading {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid black;
  margin-bottom: 4px;
  border-bottom: 1px solid black;
  vertical-align: middle;
}

.items thead tr th:first-child,
.items tbody tr td:first-child {
  width: 47%;
  min-width: 47%;
  max-width: 47%;
  word-break: break-all;
  text-align: left;
}

table > tr > td {
  font-size: 10px;
  color: black;
  vertical-align: bottom;
  font-weight: 600;
  padding: 2px;
}

.sum-up {
  text-align: right !important;
}
.total {
  font-size: 10px;
  // border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
}
.price {
  text-align: center !important;
}
.total.text,
.total.price {
  text-align: right;
}

.line {
  border-top: 1px solid black !important;
}
.heading.rate {
  width: 20%;
}
.heading.amount {
  width: 25%;
}
.heading.qty {
  width: 5%;
}
p {
  padding: 1px;
  margin: 0;
}
section,
footer {
  font-size: 12px;
}
.text-bill {
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  font-size: 10px;
  font-weight: 600;
}
