<div class="container">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Purchase</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form (ngSubmit)="SaveInvoice()" #fromPurchase="ngForm">
        <div class="row no-gutter">
          <div class="col-md-2">
            <label for="dp1">Date:</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp1"
                [(ngModel)]="pdetails.Date"
                ngbDatepicker
                #d1="ngbDatepicker"
                required
                disabled
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="d1.toggle()"
                >
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="qty">Vehicle No</label>
              <input
              #txtVehicleNo
                type="text"
                class="form-control dation-field"
                id="VehicleNo"
                name="VehicleNo"
                [(ngModel)]="pdetails.VehicleNo"
                #VehicleNo
                (focus)="VehicleNo.select()"

              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="qty">Builty No</label>
              <input
                type="text"
                class="form-control dation-field"
                id="BuiltyNo"
                name="BuiltyNo"
                [(ngModel)]="pdetails.BuiltyNo"
                #BuiltyNo
                (focus)="BuiltyNo.select()"

              />
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="customer">Customer </label>
            <ng-select
              #cmbCustomers
              name="ng2select"
              class="custom"
              [items]="Accounts"
              [virtualScroll]="true"
              bindLabel="CustomerName"
              bindValue="CustomerID"
              placeholder="Select Customer"
              (change)="CustomerSelected($event)"
              required
              [(ngModel)]="pdetails.CustomerID"
              (keydown.enter)="cmbStores.focus()"
              tabindex="1"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="row no-gutter">
                  <div class="col-md-12">
                    {{ item.CustomerName }}
                  </div>
                  <div class="col-md-9 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Address }}
                    </small>
                  </div>
                  <div class="col-md-3 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.Balance }}
                    </small>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div class="row no-gutter">
          <div class="col-md-2">
            <label for="stores"> Select Store </label>
            <ng-select
              #cmbStores
              name="stores"
              id="stores"
              class="custom"
              [items]="Stores | async"
              [virtualScroll]="true"
              bindLabel="StoreName"
              bindValue="StoreID"
              placeholder="Select Store"
              (change)="StoreSelected($event)"
              required
              TabSelectDirective
              [(ngModel)]="pdetails.StoreID"
              tabindex="2"
            >
            </ng-select>
          </div>
          <div class="col-md-4">
            <label for="customer"> Select product </label>
            <ng-select
              #cmbProduct
              name="cmbProduct"
              id="cmbProduct"
              class="custom"
              [items]="Products"
              [virtualScroll]="true"
              bindLabel="ProductName"
              bindValue="ProductID"
              placeholder="Select Product"
              (change)="ProductSelected($event)"
              required
              [(ngModel)]="pdetails.ProductID"
              [searchFn]="ProductSearchFn"
              tabindex="3"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="row no-gutter">
                  <div class="col-md-10">
                    {{ item.ProductName }}
                  </div>

                  <div class="col-md-2 text-italic font-small-2 mt-1">
                    <small>
                      {{ item.ProductID }}
                    </small>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-md-6">
            <div class="row no-gutter">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="qty">Qty</label>
                  <input
                    type="number"
                    class="form-control dation-field"
                    required="required"
                    id="qty"
                    name="qty"
                    [(ngModel)]="pdetails.Qty"
                    #qty
                    (focus)="qty.select()"
                    tabindex="4"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="RPrice">Rate:</label>
                  <input
                    #txtRate
                    type="number"
                    class="form-control"
                    id="PPrice"
                    name="PPrice"
                    [(ngModel)]="pdetails.PPrice"
                    min="1"
                    required
                    (keydown.enter)="SaveInvoice()"
                    (focus)="txtRate.select()"
                    tabindex="7"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="bonus">Amount:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="pamount"
                    name="pamount"
                    readonly
                    [value]="pdetails.Qty * pdetails.Packing * pdetails.PPrice"
                    tabindex="-1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row no-gutter">
            <div class="col-md-6">
              <div class="form-group">
                <label for="notes">Notes</label>
                <input
                  class="form-control"
                  [(ngModel)]="pdetails.Notes"
                  type="text"
                  name="notes"
                  id="notes"
                  tabindex="17"
                />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="notes">Total Weight </label>
                <p>
                  <strong
                    >{{ GetWight() }} Kgs
                    <span>{{ GetWight() / 1000 }} Tons</span></strong
                  >
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>&nbsp;</label>
                <button
                  #btnAdd
                  type="button"
                  class="btn btn-success form-control"
                  [disabled]="!fromPurchase.form.valid"
                  (click)="SaveInvoice()"
                  accesskey="a"
                >
                  <i class="ft-save"></i>
                  Save
                </button>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>&nbsp;</label>
                <button
                  #btnAdd
                  type="button"
                  class="btn btn-danger form-control"
                  (click)="Cancel()"
                  accesskey="a"
                >
                  <i class="ft ft-reload"></i>
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
