<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Branchs</div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div>
          <div class="row no-pad">
            <div class="col-md-3">
              <div class="form-group">
                <label>&nbsp;</label>
                <button
                  type="submit"
                  class="btn btn-warning form-control"
                  (click)="Add(form)"
                  accesskey="a"
                >
                  <i class="fa fa-plus"></i>
                  Add Product
                </button>
              </div>
            </div>
          </div>
          <ft-dynamic-table
            #dataList
            [Data]="data"
            [Settings]="Settings"
            (ClickAction)="Clicked($event)"
          ></ft-dynamic-table>
        </div>

      </div>
    </div>
  </div>
</section>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Terms and Conditions
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <quill-editor

    [(ngModel)]="termdata.terms_conditions" name="terms" required>
    </quill-editor>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="SaveTerms()">
      Save
    </button>
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">
      Close
    </button>
  </div>
</ng-template>
