<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-0">Appointments</h5>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition">
        <i class="fa fa-chevron-down"></i>
      </a>
      <a data-widgster="collapse" href="#" class="transition">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a data-widgster="fullscreen" href="#" class="transition">
        <i class="fa fa-expand"></i>
      </a>
      <a data-widgster="restore" href="#" class="transition">
        <i class="fa fa-compress"></i>
      </a>
    </div>
  </div>
  <div class="card-block widget-body">
    <form #frmFilter="ngForm">
      <div class="row no-gutter">
        <div class="col-md-6">
          <div class="row no-gutter">
            <div class="col-md-6">
              <label for="dtFrom">From Date:</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dtFrom"
                  [(ngModel)]="Filter.FromDate"
                  ngbDatepicker
                  #dtFrom="ngbDatepicker"
                />
                <div class="input-group-addon">
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="dtFrom.toggle()"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="dtTo">To Date:</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dtTo"
                  [(ngModel)]="Filter.ToDate"
                  ngbDatepicker
                  #dtTo="ngbDatepicker"
                />
                <div class="input-group-addon">
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="dtTo.toggle()"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <button
                  type="button"
                  class="btn btn-primary form-control"
                  (click)="FilterData()"
                  accesskey="a"
                >
                  <i class="fa fa-search"></i>
                  Filter
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div ngbDropdown class="d-inline-block">
                  <label>&nbsp;</label
                  ><button
                    type="button"
                    class="btn btn-warning form-control"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    Set Dates for Data
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="SetDate(0)">Today</button>
                    <button ngbDropdownItem (click)="SetDate(7)">
                      Last Week
                    </button>
                    <button ngbDropdownItem (click)="SetDate(30)">
                      Last Month
                    </button>
                    <button ngbDropdownItem (click)="SetDate(180)">
                      6 Months Old
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="txtsms"
                    id="txtsms"
                    cols="30"
                    rows="5"
                    [(ngModel)]="Filter.SMS"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="SendSMS()"
                    accesskey="a"
                  >
                    <i class="fa fa-envelope"></i>
                    Send SMS
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
    <div class="row" id="print-section">
      <div class="col-md-12">
        <ft-dynamic-table
        #tblData
          [Settings]="setting"
          [Data]="data"
          (ClickAction)="ActionClicked($event)"
        ></ft-dynamic-table>
      </div>
    </div>
  </div>
</div>
