<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Products List</div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div>
          <app-crud-form [Form]="FilterForm" [formdata]="Filter" [CrudButtons]="false">
          </app-crud-form>
          <ft-dynamic-table
          [Settings]="Settings"
          [Data]="data"
          (ClickAction)="Clicked($event)"
        ></ft-dynamic-table>
        </div>
      </div>
    </div>
  </div>
</section>
