<table style="width: 100%">
  <tr>
    <td class="text-center header">
      <div style="font-size: 2.0rem; font-weight: 600;">
        <strong> {{ Business.BusinessName }}</strong>
      </div>
      <div style="font-size: 0.75rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; "> {{ Business.Address }}, {{ Business.City }}</div>
      <div style="font-size: 0.75rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> {{ Business.Phone }}</div>
    </td>
  </tr>
</table>
