<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-0">Purchase Return</h5>

  </div>
  <div class="card-block widget-body">

    <form (ngSubmit)="SaveData()" #fromPurchase="ngForm">
      <div class="row">
          <div class="col-lg-2"></div>
    <div class="form-group col-lg-2">
          <label for="type">Select Type</label>
          <ejs-combobox name="type" id="type" (change) = 'TypeSelect($event)' [dataSource]='Typeinfo' [fields]='Typefields'
         required>
          </ejs-combobox>
        </div>

        <div class="form-group col-lg-4">
          <label for="customer">Select Account</label>
          <ejs-combobox name="customer" id="customer"   [dataSource]='customerinfo' [fields]='customerfields'
            [(ngModel)]="purchase.CustomerID" required>
          </ejs-combobox>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <div class="form-group">
              <label for="dp1">Stock:</label>
                  <input type="text" readonly class="form-control" id="tqty" name="tqty" [(ngModel)]="tqty" placeholder="0">
            </div>
          </div>


      </div>
      <form  #formqty="ngForm">
      <div class="row">
          <div class="col-lg-2">
          <div class="form-group">
              <label for="storeid">Select Store</label>

              <select class="form-control validation-field"   name = "storeid" id = 'storeid' required  [(ngModel)] = "productdetails.StoreID" >
                  <option *ngFor = 'let Storesdata of Stores' value="{{Storesdata.StoreID}}">{{Storesdata.StoreName}} </option>
              </select>
          </div>
          </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="supplier">Select Product:</label>
            <ejs-combobox id='prodcat'  (filtering)='onFiltering($event)' [allowFiltering] = 'true' name="prods" id = 'prods' #cmbProd [dataSource]='Prods' [fields]="{text: 'ProductName', value: 'ProductID'}"
              placeholder="Select Item..."  required="required" [(ngModel)]="productdetails.ProductID" (change)="ProductSelected($event)">
            </ejs-combobox>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <label for="supplier">PPrice:</label>
            <input type="text"  class="form-control" id="pprice" name="pprice" [(ngModel)]="productdetails.PPrice" placeholder="0">
          </div>
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <label for="supplier">SPrice:</label>
            <input type="text"  class="form-control" id="sprice" name="sprice" [(ngModel)]="productdetails.SPrice" placeholder="0">
          </div>
        </div>


        <div class="col-lg-1">
          <div class="form-group">
            <label for="packing">Packing:</label>
            <input type="text" readonly class="form-control dation-field" required="required" id="packing" name="packing" [(ngModel)]="productdetails.Packing" placeholder="0">
          </div>
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <label for="qty">Qty:</label>
            <input type="text" class="form-control dation-field" required="required" id="qty" name="qty" [(ngModel)]="productdetails.qty" placeholder="0">
          </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
              <label for="kgs">KGs:</label>
              <input type="text" class="form-control" id="kgs" name="kgs" [(ngModel)]="productdetails.KGs" placeholder="0">
            </div>
          </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label for="dp2">&nbsp;</label>
            <button type="button" class="btn btn-primary Form-control" [disabled]="!formqty.form.valid" style = 'margin-top: 20px;' (click)="AddOrder()">Add</button>
          </div>
        </div>
      </div>
    </form>


      <div class="card-block pt-0 widget-body">
        <h5 class="mb-0">Purchase Item List</h5>
        <div class="table-responsive table-bordered table-condensed">
          <ng2-smart-table class="table table-hover" [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)"
            (rowSelect)="onRowSelect($event)" (userRowSelect)="onUserRowSelect($event)" (editConfirm)="onEdit($event)" (rowHover)="onRowHover($event)"></ng2-smart-table>
        </div>
      </div>





      <div class="row">
        <div class="col-lg-8">

          <div class="row">

            <div class="col-lg-2">
              <div class="form-group">
                <label for="dp2">&nbsp;</label>
                <button type="button" *ngIf="btnsave" class="btn btn-primary Form-control" [disabled]="!fromPurchase.form.valid" (click)="SaveData()">Save</button>
              </div>
            </div>

            <div class="col-lg-2">
              <div class="form-group">
                <label for="dp2">&nbsp;</label>
                <button type="button" class="btn btn-danger Form-control" (click) = 'Cancel()'>Cancel</button>
              </div>
            </div>
            <div class="col-lg-1">

                  <label for="notes">Notes:</label>
                  </div>
                  <div class="col-lg-5">
                  <input type="text" class="form-control " id="notes" name="notes" [(ngModel)]="purchase.Notes" placeholder="x">
                </div>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <label for="gtotal" style="padding-top:5px;">Total Amount:</label>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" id="gtotal" name="gtotal" [(ngModel)]="purchase.totalamount" readonly>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="FrieghtCharges" style="padding-top:5px;">Frieght Charges:</label>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" id="FrieghtCharges" name="FrieghtCharges" [(ngModel)]="purchase.FrieghtCharges" (change)="changel()">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="rdisc" style="padding-top:5px;">Discount:</label>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" id="rdisc" name="rdisc" [(ngModel)]="purchase.discount" (change)="changel()">

              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                <label for="pad" style="padding-top:5px;">Cash Paid:</label>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="pad" name="pad" [(ngModel)]="purchase.paidby" (change)="changel()">
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="amount" style="padding-top:5px;">Balance:</label>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="purchase.netamount" readonly>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                <label for="pad" style="padding-top:5px;">Labour:</label>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="pad" name="pad" [(ngModel)]="purchase.Labour">
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
